#men {
  background-color: rgb(233, 188, 151);
  min-height: 100vh;
}
#women {
  background-color: teal;
  min-height: 100vh;
}

#woSearch {
  background-color: white;
}

#men header,
#women header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vmin 3vmin;
}

#men header h1,
#women header h1 {
  font-size: 4vmin;
  font-weight: 700;
}

#row1,
#row2 {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vmin;
  scrollbar-color: transparent transparent;
}
#wrow1,
#wrow2 {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vmin;
  scrollbar-color: transparent transparent;
  color: white;
}
#menrow1,
#menrow2 {
  max-width: 25vmin;
  height: 35vmin;
  object-position: bottom;
  object-fit: contain;
  border-radius: 10px;
  background-color: rgb(206, 159, 121);
}
#womenrow1,
#womenrow2 {
  max-width: 25vmin;
  height: 35vmin;
  object-position: bottom;
  object-fit: contain;
  border-radius: 10px;
  background-color: white;
}

#crow1 {
  display: flex;
  flex-direction: column;
}
#actions {
  width: 80%;
  position: relative;
  top: -15vmin;
}
#card {
  display: flex;

  flex-direction: column;
}
#cart,
#like {
  margin: 1vmin;
  padding: 1vmin;
  width: 6vmin;
  height: 6vmin;
  cursor: pointer;
  background-color: rgb(233, 188, 151);
  border-radius: 50%;
}
#wcart,
#wlike {
  margin: 1vmin;
  padding: 1vmin;
  width: 6vmin;
  height: 6vmin;
  cursor: pointer;
  background-color: teal;
  border-radius: 50%;
}

#like {
  cursor: pointer;
  color: black;
  transition: color 0.3s;
}

#wlike {
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

#like.liked {
  color: red;
}
#wlike.liked {
  color: red;
}
#cart:hover,
#cart:focus,
#wcart:hover,
#wcart:focus {
  color: teal;
  background-color: white;
  scale: 1.5;
  transition: all 1s;
}

@media all and (max-width: 650px) {
  #row1,
  #row2,
  #wrow1,
  #wrow2 {
    flex-direction: column;
    align-items: center;
    font-size: 4vmin;
    background-color: transparent;
  }
  #card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
  }
  #menrow1,
  #menrow2,
  #womenrow1,
  #womenrow2 {
    min-width: 90%;
    height: 60vmin;
  }
}
#wsearchcmp {
  display: flex;
  width: fit-content;
}
#wheaderForm {
  display: flex;
  flex-direction: row;
}
#wheaduser {
  display: flex;
}
